---
deployment:
  tasks:
    # Validated cPanel Document Root for modrik.org (2026-08-20)
    - export DEPLOYPATH=/home/solscool/public_html/modrik.org/
    - /bin/mkdir -p $DEPLOYPATH
    - /bin/cp -R deploy/coming-soon/. $DEPLOYPATH
