openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: MODRIK API
  version: 0.1.0
  description: Bootstrap contract for the fixture-driven P0 vertical slice. Business rules and canonical state are backend-owned.
  contact:
    name: MODRIK Engineering
    url: https://modrik.org/
  license:
    name: Proprietary
servers:
  - url: https://api.modrik.org
    description: Planned production API; activation is owner-controlled.
  - url: http://localhost:8000
    description: Local development
tags:
  - name: System
    description: Liveness and operational boundaries.
  - name: Session
    description: Current authenticated identity shell.
  - name: Academics
    description: Active academic context selected during onboarding.
  - name: Lessons
    description: Published lesson reads for the active context.
  - name: Attempts
    description: Server-authoritative practice and quiz attempts.
  - name: Sync
    description: Resumable backend-authoritative synchronization of offline learning mutations.
  - name: Progress
    description: Recomputable learning progress projections.
  - name: Preparation
    description: Admin-only deterministic content preparation and validation.
  - name: Safety
    description: Backend-owned fail-closed safety decisions; no advertising network is activated.
paths:
  /health:
    get:
      summary: Check API process health
      operationId: getHealth
      tags: [System]
      security: []
      responses:
        '200':
          description: Process is serving requests.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [status]
                properties:
                  status: {type: string, const: ok}
        '400': {$ref: '#/components/responses/BadRequest'}
  /v1/session:
    get:
      summary: Read the current session
      operationId: getSession
      tags: [Session]
      responses:
        '200':
          description: Current authenticated session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
  /v1/academic-context:
    get:
      summary: Read the active academic context
      operationId: getAcademicContext
      tags: [Academics]
      responses:
        '200':
          description: Active academic context or an explicit onboarding state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademicContextResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
  /v1/academic-context/activate:
    post:
      summary: Activate the first academic context after onboarding
      operationId: activateAcademicContext
      tags: [Academics]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcademicContextMutationRequest'
      responses:
        '201':
          description: First active academic context. Existing active contexts require the reset endpoint.
          headers:
            Location:
              schema: {type: string, format: uri-reference}
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademicContextResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/academic-context/reset:
    post:
      summary: Archive the active academic context and activate a different track
      operationId: resetAcademicContext
      tags: [Academics]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcademicContextMutationRequest'
      responses:
        '200':
          description: New active context; the prior context, attempts, and progress remain archived.
          headers:
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademicContextResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/lessons/{lessonId}:
    parameters:
      - $ref: '#/components/parameters/LessonId'
    get:
      summary: Read one published lesson
      operationId: getPublishedLesson
      tags: [Lessons]
      responses:
        '200':
          description: Published lesson in the user's active academic context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LessonResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
  /v1/attempts:
    post:
      summary: Start a new authoritative attempt
      operationId: startAttempt
      tags: [Attempts]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAttemptRequest'
      responses:
        '201':
          description: A new authoritative attempt. Seed is intentionally not exposed.
          headers:
            Location:
              schema: {type: string, format: uri-reference}
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttemptResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/attempts/{attemptId}:
    parameters:
      - $ref: '#/components/parameters/AttemptId'
    get:
      summary: Resume an existing attempt
      operationId: getAttempt
      tags: [Attempts]
      responses:
        '200':
          description: Existing attempt with its immutable authoritative order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttemptResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
  /v1/attempts/{attemptId}/answers/{attemptQuestionId}:
    parameters:
      - $ref: '#/components/parameters/AttemptId'
      - $ref: '#/components/parameters/AttemptQuestionId'
    put:
      summary: Record an answer revision
      operationId: putAttemptAnswer
      tags: [Attempts]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutAnswerRequest'
      responses:
        '200':
          description: Authoritative answer revision.
          headers:
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/attempts/{attemptId}/submit:
    parameters:
      - $ref: '#/components/parameters/AttemptId'
    post:
      summary: Submit an attempt
      operationId: submitAttempt
      tags: [Attempts]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Submitted and synchronously graded fixture attempt.
          headers:
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttemptResultResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '404': {$ref: '#/components/responses/ResourceNotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
  /v1/sync/answers:
    post:
      summary: Synchronize an ordered batch of offline answer operations
      operationId: syncAttemptAnswers
      tags: [Sync]
      description: Each operation_id is an independent durable idempotency scope. Valid operations are processed independently in input order, so one resource or revision conflict does not roll back other operations in the batch. This endpoint does not use the general Idempotency-Key header.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerSyncRequest'
      responses:
        '200':
          description: Durable acknowledgements in request order. Individual operations can be applied, rejected, or conflicted while the batch response remains successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerSyncResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/progress:
    get:
      summary: Read active-context progress
      operationId: getProgress
      tags: [Progress]
      responses:
        '200':
          description: Progress projection for the active academic context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
  /v1/advertising/decisions/{placementCode}:
    parameters:
      - name: placementCode
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-z][a-z0-9_]{2,63}$'
    get:
      summary: Evaluate backend-owned advertising eligibility
      operationId: getAdvertisingDecision
      tags: [Safety]
      responses:
        '200':
          description: Fail-closed eligibility decision. A true value does not activate or render an ad network.
          headers:
            Cache-Control:
              description: Safety decisions must not be reused after policy or assurance changes.
              schema: {type: string, const: 'no-store, private'}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingDecisionResponse'
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/admin/preparation-requests:
    post:
      summary: Create a content preparation request
      operationId: createPreparationRequest
      tags: [Preparation]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../../schemas/preparation/request.schema.json'
      responses:
        '201':
          description: Immutable preparation request and bundle binding.
          headers:
            Location:
              schema: {type: string, format: uri-reference}
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreparationRequestResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/ValidationFailed'}
  /v1/admin/preparation-imports/validate:
    post:
      summary: Validate a returned preparation archive
      operationId: validatePreparationImport
      tags: [Preparation]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: false
              required: [archive]
              properties:
                archive:
                  type: string
                  contentMediaType: application/zip
                  contentEncoding: binary
      responses:
        '202':
          description: Archive passed bounded validation and was imported into staging; no curriculum content is published.
          headers:
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreparationImportResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/AuthenticationRequired'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '409': {$ref: '#/components/responses/Conflict'}
        '413': {$ref: '#/components/responses/PayloadTooLarge'}
        '422':
          description: Multipart validation failed, or the archive was persistently rejected before publication.
          headers:
            Idempotency-Replayed:
              schema: {type: boolean}
          content:
            application/problem+json:
              schema: {$ref: '#/components/schemas/ProblemDetails'}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: '^[!-~]+$'
    LessonId:
      name: lessonId
      in: path
      required: true
      schema: {$ref: '#/components/schemas/Ulid'}
    AttemptId:
      name: attemptId
      in: path
      required: true
      schema: {$ref: '#/components/schemas/Ulid'}
    AttemptQuestionId:
      name: attemptQuestionId
      in: path
      required: true
      schema: {$ref: '#/components/schemas/Ulid'}
  responses:
    BadRequest:
      description: Missing idempotency key or malformed request.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
    AuthenticationRequired:
      description: Authentication is required.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
    Forbidden:
      description: Actor lacks permission.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
    ResourceNotFound:
      description: Resource is unavailable in the actor's scope.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
    Conflict:
      description: Authoritative state or idempotency conflict.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
    ValidationFailed:
      description: Semantic or field validation failed.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
    PayloadTooLarge:
      description: The uploaded archive exceeds a configured compressed or uncompressed byte limit.
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/ProblemDetails'}
  schemas:
    Ulid:
      type: string
      pattern: '^[0-9A-HJKMNP-TV-Z]{26}$'
      example: 01J00000000000000000000001
    Locale:
      type: string
      enum: [ar, en, fr]
    LocalizedText:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        ar: {type: string, minLength: 1, maxLength: 1000}
        en: {type: string, minLength: 1, maxLength: 1000}
        fr: {type: string, minLength: 1, maxLength: 1000}
    ResponseMeta:
      type: object
      additionalProperties: false
      required: [request_id]
      properties:
        request_id: {type: string, minLength: 16, maxLength: 64}
    ProblemDetails:
      $ref: '../../schemas/contracts/problem-details.schema.json'
    SessionResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [user_id, locale, roles]
          properties:
            user_id: {$ref: '#/components/schemas/Ulid'}
            locale: {$ref: '#/components/schemas/Locale'}
            roles:
              type: array
              uniqueItems: true
              items: {type: string, enum: [student, guardian, content_team, admin]}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    AcademicContextResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          oneOf:
            - type: object
              additionalProperties: false
              required: [state]
              properties:
                state: {type: string, const: onboarding_required}
            - type: object
              additionalProperties: false
              required: [state, context_id, academic_track_id, year_level, activated_at]
              properties:
                state: {type: string, const: active}
                context_id: {$ref: '#/components/schemas/Ulid'}
                academic_track_id: {$ref: '#/components/schemas/Ulid'}
                year_level: {type: string, minLength: 1, maxLength: 40}
                activated_at: {type: string, format: date-time}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    AcademicContextMutationRequest:
      type: object
      additionalProperties: false
      required: [academic_track_id]
      properties:
        academic_track_id: {$ref: '#/components/schemas/Ulid'}
    LessonBlock:
      type: object
      additionalProperties: false
      required: [id, position, type, content]
      properties:
        id: {$ref: '#/components/schemas/Ulid'}
        position: {type: integer, minimum: 1}
        type: {type: string, enum: [heading, rich_text, callout, worked_example, media_reference]}
        content: {type: object}
    LessonResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [id, curriculum_node_id, content_version, title, practice_quiz_id, blocks]
          properties:
            id: {$ref: '#/components/schemas/Ulid'}
            curriculum_node_id: {$ref: '#/components/schemas/Ulid'}
            content_version: {type: integer, minimum: 1}
            title: {$ref: '#/components/schemas/LocalizedText'}
            practice_quiz_id: {$ref: '#/components/schemas/Ulid'}
            blocks:
              type: array
              items: {$ref: '#/components/schemas/LessonBlock'}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    StartAttemptRequest:
      type: object
      additionalProperties: false
      required: [quiz_id]
      properties:
        quiz_id: {$ref: '#/components/schemas/Ulid'}
    AttemptQuestion:
      type: object
      additionalProperties: false
      required: [attempt_question_id, position, type, prompt, response_contract]
      properties:
        attempt_question_id: {$ref: '#/components/schemas/Ulid'}
        position: {type: integer, minimum: 1}
        type: {type: string, enum: [single_choice, multiple_choice, short_text, numeric]}
        prompt: {$ref: '#/components/schemas/LocalizedText'}
        response_contract: {type: object}
        current_answer:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Answer'
    Attempt:
      type: object
      additionalProperties: false
      required: [id, academic_context_id, quiz_id, status, blueprint_version, ordering_algorithm, started_at, completed_at, archived_at, questions]
      properties:
        id: {$ref: '#/components/schemas/Ulid'}
        academic_context_id: {$ref: '#/components/schemas/Ulid'}
        quiz_id: {$ref: '#/components/schemas/Ulid'}
        status: {type: string, enum: [in_progress, submitted, graded, abandoned]}
        blueprint_version: {type: integer, minimum: 1}
        ordering_algorithm: {type: string, const: modrik-fy-v1}
        started_at: {type: string, format: date-time}
        completed_at:
          oneOf: [{type: 'null'}, {type: string, format: date-time}]
        archived_at:
          oneOf: [{type: 'null'}, {type: string, format: date-time}]
        questions:
          type: array
          minItems: 1
          items: {$ref: '#/components/schemas/AttemptQuestion'}
    AttemptResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data: {$ref: '#/components/schemas/Attempt'}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    Answer:
      type: object
      additionalProperties: false
      required: [revision, value, answered_at]
      properties:
        revision: {type: integer, minimum: 1}
        value: {}
        answered_at: {type: string, format: date-time}
    PutAnswerRequest:
      type: object
      additionalProperties: false
      required: [expected_revision, value]
      properties:
        expected_revision: {type: integer, minimum: 0}
        value: {}
    AnswerResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data: {$ref: '#/components/schemas/Answer'}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    AnswerSyncOperation:
      type: object
      additionalProperties: false
      required: [operation_id, attempt_id, attempt_question_id, expected_revision, value]
      properties:
        operation_id:
          type: string
          minLength: 16
          maxLength: 128
          pattern: '^[!-~]+$'
          description: Opaque client-generated identifier retained for the logical operation until its acknowledgement is received. The backend persists only a keyed digest.
        attempt_id: {$ref: '#/components/schemas/Ulid'}
        attempt_question_id: {$ref: '#/components/schemas/Ulid'}
        expected_revision: {type: integer, minimum: 0}
        value: {}
    AnswerSyncRequest:
      type: object
      additionalProperties: false
      required: [operations]
      properties:
        operations:
          type: array
          minItems: 1
          maxItems: 100
          items: {$ref: '#/components/schemas/AnswerSyncOperation'}
    AnswerSyncAcknowledgement:
      type: object
      additionalProperties: false
      required: [operation_id, outcome, code, replayed, retryable, answer_revision, answered_at]
      properties:
        operation_id: {type: string, minLength: 16, maxLength: 128, pattern: '^[!-~]+$'}
        outcome: {type: string, enum: [applied, rejected, conflict]}
        code:
          type: string
          enum: [SYNC_ANSWER_APPLIED, SYNC_OPERATION_ID_REUSED, SYNC_OPERATION_IN_PROGRESS, RESOURCE_NOT_FOUND, ANSWER_REVISION_CONFLICT, ATTEMPT_NOT_EDITABLE, ANSWER_VALUE_INVALID]
        replayed:
          type: boolean
          description: True only when this acknowledgement was loaded from the durable record for an exact operation replay.
        retryable: {type: boolean}
        answer_revision:
          oneOf: [{type: 'null'}, {type: integer, minimum: 1}]
        answered_at:
          oneOf: [{type: 'null'}, {type: string, format: date-time}]
    AnswerSyncResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [acknowledgements]
          properties:
            acknowledgements:
              type: array
              minItems: 1
              maxItems: 100
              items: {$ref: '#/components/schemas/AnswerSyncAcknowledgement'}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    AttemptResultResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [attempt, score, max_score]
          properties:
            attempt: {$ref: '#/components/schemas/Attempt'}
            score: {type: number, minimum: 0}
            max_score: {type: number, exclusiveMinimum: 0}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    ProgressResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [academic_context_id, curriculum_node_id, mastery, source_version, calculated_at]
            properties:
              academic_context_id: {$ref: '#/components/schemas/Ulid'}
              curriculum_node_id: {$ref: '#/components/schemas/Ulid'}
              mastery: {type: number, minimum: 0, maximum: 1}
              source_version: {type: integer, minimum: 1}
              calculated_at: {type: string, format: date-time}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    AdvertisingDecisionResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [placement_code, zone_code, advertising_allowed, reason_code, policy_version, evaluated_at]
          properties:
            placement_code: {type: string, pattern: '^[a-z][a-z0-9_]{2,63}$'}
            zone_code:
              oneOf:
                - type: 'null'
                - type: string
                  enum: [account, assessment, dashboard, help, lesson, onboarding, progress]
            advertising_allowed: {type: boolean}
            reason_code:
              type: string
              enum: [PLACEMENT_UNKNOWN, NO_AD_ZONE, CONFIG_MISSING, GLOBAL_KILL_SWITCH, CONFIG_INVALID, CONFIG_NOT_EFFECTIVE, CONFIG_STALE, PLACEMENT_DISABLED, AGE_UNKNOWN, AGE_ASSURANCE_INVALID, AGE_ASSURANCE_STALE, AGE_NOT_ADULT, ELIGIBLE]
            policy_version:
              oneOf: [{type: 'null'}, {type: integer, minimum: 1}]
            evaluated_at: {type: string, format: date-time}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    PreparationRequestResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [preparation_request_id, schema_version, settings_hash, status, prompt, bundle]
          properties:
            preparation_request_id: {$ref: '#/components/schemas/Ulid'}
            schema_version: {type: string, const: 1.0.0}
            settings_hash: {type: string, pattern: '^[a-f0-9]{64}$'}
            status: {type: string, const: ready}
            prompt: {type: string, minLength: 1}
            bundle:
              type: object
              additionalProperties: false
              required: [manifest_binding, settings]
              properties:
                manifest_binding:
                  type: object
                  additionalProperties: false
                  required: [preparation_request_id, schema_version, settings_hash]
                  properties:
                    preparation_request_id: {$ref: '#/components/schemas/Ulid'}
                    schema_version: {type: string, const: 1.0.0}
                    settings_hash: {type: string, pattern: '^[a-f0-9]{64}$'}
                settings: {$ref: '../../schemas/preparation/settings.schema.json'}
        meta: {$ref: '#/components/schemas/ResponseMeta'}
    PreparationImportResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [preparation_import_id, preparation_request_id, pack_id, status, validated_file_count, validated_record_count, validation_summary]
          properties:
            preparation_import_id: {$ref: '#/components/schemas/Ulid'}
            preparation_request_id: {$ref: '#/components/schemas/Ulid'}
            pack_id: {$ref: '#/components/schemas/Ulid'}
            status: {type: string, const: staged}
            validated_file_count: {type: integer, minimum: 1, maximum: 5000}
            validated_record_count: {type: integer, minimum: 1}
            validation_summary:
              type: object
              additionalProperties: false
              required: [valid, errors]
              properties:
                valid: {type: boolean, const: true}
                errors:
                  type: array
                  maxItems: 0
        meta: {$ref: '#/components/schemas/ResponseMeta'}
security:
  - bearerAuth: []
